body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #131b26;
    color: #ffffff;
    padding: 15px;
}

section {
    background-color: #2f3d4e;
    padding: 10px 0;
    color: #ffffff;
    padding: 15px;
}

#shutcuts1 {
    display: none;
}

#bars {
    display: none;
}

#cart {
    margin-left: 5px;
    font-size: 12px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.logo1 {
    font-size: 10px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 8px;
    border: none;
}

.search-bar button {
    background-color: #ff9900;
    color: #232f3e;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.user-account a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
}

.user-account a:hover {
    text-decoration: underline;
}

.fa-cart-shopping {
    margin-right: 15px;
}
 
.fa-angle-right {
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    .logo {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
        position: relative;
        left: -90px;
    }
    #bars {
        display: flex;
    }
    #cart {
        display: none;
    }
 #shutcuts {
    display: none;
 }
header {
    background-color: #131b26;
    color: #ffffff;
    padding: 10px 10px 50px;
}
 #shutcuts1 {
    display: flex;
 }
    
.fa-location-dot {
    position: relative;
    margin-right: 5px;
    font-size: 15px;
}
   .fa-angle-down {
    position: relative;
    top: 2px;
    font-size: 10px;
   }
    .nav-links {
        display: none;
    }
    .search-bar {
        position: absolute;
        border-radius: 90px;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        display: flex; /* To enable flex properties */
        flex-direction: row; /* Align search bar elements horizontally */
        width: 95%;
    }
    
    .search-bar input {
        flex: 1; /* Allow the input to take up remaining space */
        margin-bottom: 0; /* Remove bottom margin for input */
    }

    .fa-cart-shopping {
        display: none; /* Hide shopping cart icon by default */
    }

    
    
}