<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles.css">
    <script src="https://kit.fontawesome.com/7d399dc76b.js" crossorigin="anonymous"></script>
    <title>Amazon-like Navbar</title>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo">
            <a href="#">Your Logo</a>
        </div>
        <div class="nav-links">
            <i class="fa-solid fa-bars"></i>
            <a href="#">Home</a>
            <a href="#">Shop</a>
            <a href="#">Categories</a>
            <a href="#">Deals</a>
            <a href="#">Services</a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="button">Search</button>
        </div>
        <div class="user-account">
            <a href="#">Your Account</a>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </nav>
</header>


</body>
</html>
